  <div id="slider">
    <h1>Photobooth!</h1>
    <img id="i" src="/drop/<%= PhotoList.first %>"></img>
  </div>

  <script type="text/javascript">
    var list = <%= PhotoList.inspect %>;
    var i = 0;
    var client = new Faye.Client('http://localhost:9292/faye')
    client.subscribe('/new', function(message){
      list.push(message.name);
    });

    client.subscribe('/delete', function(message){
      i = list.indexOf(message.name);
      if(i>-1) {
        list.splice(i,1);
      }
    });

    setInterval(function() {
      i++;
      if(i >= list.length) {
        i = 0
      }
      $('#i').attr('src', '/drop/' + list[i]);
    }, 4000);
  </script>
